<div class="container">
  <nav class="navbar">
    <h3>
      <p>
        <a routerLink="/search"
          ><span class="event">Event</span><span class="master">Dealer</span></a
        >
      </p>
    </h3>
    <ul class="main-nav">
      <a routerLink="/search" class="button">Home</a>
      <a routerLink="/bucketlist" class="button">Favorites</a>
      <a routerLink="/eventlist" class="button">Events</a>
    </ul>
    <button class="mobile" (click)="toggle()" *ngIf="showNav">
      <i class="fas fa-bars"></i>
    </button>
    <div *ngIf="!showNav" class="test">
      <a class="love" routerLink="/search">Home</a>
      <a class="love" routerLink="/bucketlist">Favorites</a>
      <a class="love" routerLink="/eventlist">Events</a>
    </div>
  </nav>
</div>

<!-- buttons for staying on the page -->
<!-- anchor tags for going to other pages -->
