<div class="container">
  <nav class="navbar">
    <h3>
      <a routerLink="/search"
        ><span class="event">Event</span><span class="master">Master</span></a
      >
    </h3>
    <ul class="main-nav">
      <a routerLink="/search" class="button">Home</a>
      <a routerLink="/bucketlist" class="button">Favorites</a>
    </ul>
    <select id="dropdown">
      <option value="Select One">Select One</option>
      <option value="Home">Home</option>
      <option value="Favorites">Favorites</option>
    </select>
  </nav>
</div>

<!-- buttons for staying on the page -->
<!-- anchor tags for going to other pages -->
