<app-header></app-header>
<div class="wrapper">
  <ul class="container">
    <li
      class="events"
      *ngFor="let event of events; index as i"
      (click)="showMore(i)"
    >
      <p class="name">{{ event?.name }}</p>

      <button (click)="addToFavorites(event)">
        <i class="fas fa-heart"></i>
      </button>
      <div class="infoDiv" *ngIf="showIndex === i">
        <p *ngIf="event.info">{{ event.info }}</p>
        <p *ngIf="event.info">Date: {{ event.dates.start.localDate }}</p>
        <p *ngIf="!event.info">Date: {{ event.dates.start.localDate }}</p>
        <p *ngIf="!event.info">No extra information provided</p>
        <p *ngIf="!event.info"><i class="far fa-frown"></i></p>
      </div>
    </li>
  </ul>
</div>
