<app-header></app-header>
<h3>Your Searched Events</h3>
<div class="wrapper">
  <section class="container" *ngFor="let event of events; index as i">
    <button (click)="addToFavorites(event)">
      <i class="fas fa-heart"></i>
    </button>
    <div
      class="card"
      [ngClass]="{ flipped: event.isClicked }"
      (click)="showMore(event)"
    >
      <div class="front">{{ event.name }}</div>
      <div class="back">
        <p *ngIf="event.info">{{ event.info }}</p>
        <p *ngIf="event.info">Date: {{ event.dates.start.localDate }}</p>
        <p *ngIf="!event.info">Date: {{ event.dates.start.localDate }}</p>
        <p *ngIf="!event.info">No extra information provided</p>
        <p *ngIf="!event.info"><i class="far fa-frown"></i></p>
      </div>
    </div>
  </section>

  <!-- <div class="infoDiv" *ngIf="showIndex === i">
        <p *ngIf="event.info">{{ event.info }}</p>
        <p *ngIf="event.info">Date: {{ event.dates.start.localDate }}</p>
        <p *ngIf="!event.info">Date: {{ event.dates.start.localDate }}</p>
        <p *ngIf="!event.info">No extra information provided</p>
        <p *ngIf="!event.info"><i class="far fa-frown"></i></p>
      </div>
    </li>
  </ul> -->
</div>
