<app-header></app-header>
<div class="container">
  <form #eventForm="ngForm" (ngSubmit)="search(eventForm)">
    <label class="title" for="city">City</label>
    <input
      type="text"
      id="city"
      name="city"
      placeholder="enter a city"
      class="field"
      ngModel
    />
    <label class="title" for="event">Event</label>
    <input
      type="text"
      id="event"
      name="event"
      placeholder="event type"
      class="field"
      ngModel
    />
    <label class="title" for="date">Dates</label>
    <input
      type="date"
      id="date"
      name="date"
      placeholder="enter date"
      class="field"
      ngModel
    />
    <button>Search</button>
  </form>
</div>
