<app-header></app-header>
<div class="container">
  <form #eventForm="ngForm" (ngSubmit)="search(eventForm)">
    <label class="title" for="city">City</label>
    <input
      type="text"
      id="city"
      name="city"
      placeholder="enter a city"
      class="field"
      ngModel
    />
    <label class="title" for="event">Event</label>
    <input
      type="text"
      id="event"
      name="event"
      placeholder="event type"
      class="field"
      ngModel
    />

    <label class="title" for="startDate">Start Date</label>
    <input
      type="date"
      id="startDate"
      name="startDate"
      placeholder="Enter your start date"
      class="field"
      ngModel
    />
    <label class="title" for="endDate">End Date</label>
    <input
      type="date"
      id="endDate"
      name="endDate"
      placeholder="Enter your end date"
      class="field"
      ngModel
    />
    <button>Search</button>
  </form>
</div>
